[package]
name = "s3-benchrunner-rust"
version = "0.1.0"
edition = "2021"

[dependencies]
anyhow = "1.0.86"
async-trait = "0.1.81"
aws-config = "1.5.4"
aws-s3-transfer-manager = { git = "ssh://git@github.com/awslabs/aws-s3-transfer-manager-rs.git", rev = "d085949e930b0ef99031c0fd33c24d6c68fac4dd" }
aws-sdk-s3 = "1.41.0"
clap = { version = "4.5.9", features = ["derive"] }
futures = "0.3.30"
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
thiserror = "1.0.62"
tokio = { version = "1.38.1", features = ["io-util"] }
rand = "0.8.4"
bytes = "1"
