name: CI
on: [push]
jobs:
  CI:
    runs-on: ubuntu-22.04 # latest at time of writing
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-python@v4
      with:
        python-version: '3.9' # default version on Amazon Linux 2023
    - run: python -m pip install -r scripts/requirements.txt

    - name: Lint Python scripts
      run: python scripts/lint-python.py

    - name: Lint s3-benchrunner-c
      run: python runners/s3-benchrunner-c/scripts/lint.py

    - name: Check that benchmark files are up to date
      # run build script and see if any files change
      run: |
        python scripts/build-benchmarks.py
        git diff --exit-code

    - name: Build s3-benchrunner-c
      run: python runners/s3-benchrunner-c/scripts/build.py --build-dir ${{runner.temp}}/build/c

    - name: Build s3-benchrunner-crt-java
      run: python runners/s3-benchrunner-crt-java/scripts/build.py --build-dir ${{runner.temp}}/build/crt-java
